[Unit]
Description=Fetch bootc image daily
ConditionPathExists=/run/ostree-booted
After=multi-user.target

[Timer]
OnCalendar=*-*-* 12:30:00
Persistent=true

[Install]
WantedBy=timers.target
