[Unit]
Description=Update Toolbox container, Flatpak apps and Bootc download daily

[Timer]
OnCalendar=*-*-* 12:30:00
Persistent=true

[Install]
WantedBy=timers.target
